<div class="booyah-box col-xs-10 col-xs-offset-1">
    <h2>Sign in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field booyah-session-info">
        <%= f.label :email %><br />
        <div class="booyah-session-input">
          <%= f.email_field :email, autofocus: true, :size => 40 %>
        </div>
      </div>

      <div class="field booyah-session-info">
        <%= f.label :password %><br />
        <div class="booyah-session-input">
          <%= f.password_field :password, autocomplete: "off", :size => 40 %>
        </div>
      </div>

     <br />

      <div class="actions booyah-session-info">
        <%= f.submit "Sign in", class: 'btn btn-primary' %>
      </div>

    <br />

    <% end %>

    <div class="booyah-session-info-small">
     <%= render "devise/shared/links" %>
    </div>
</div>
